.main
    display: flex
    flex-direction: column
    align-items: center
    width: 50%
    margin: 15px auto
    min-height: 500px
    box-shadow: 0px 0px 10px -7px black

.title
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    padding: 15px
    font-size: 1.5rem
    border-bottom: 1px solid black
    background-color: #0095ff9c
    user-select: none

button
    margin: 15px
    min-width: 70px
    min-height: 26px
    font-family: 'ubuntu'
    cursor: pointer

.overlay
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0,0,0,0.4)
    z-index: 2
    cursor: pointer

.modal
    position: fixed
    width: 500px
    z-index: 3
    background-color: white
    top: 10%
    box-shadow: 0 0 5px 2px #0000005c
    .modal-body
        padding: 15px

.form
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    flex-direction: column
    .label
        margin-right: 15px
    .submit
        display: flex
        justify-content: center
        flex-basis: 100%
        width: 30px
        margin-top: 15px

.error-message-container
    display: flex
    align-items: center
    justify-content: center
    padding: 15px
    color: red

.todo-container
    width: 100%

    .todo-item
        display: flex
        align-items: center
        justify-content: space-between
        padding: 20px
        font-size: 1.25rem
        box-shadow: 4px 4px 9px -9px black, -2px -2px 8px -9px black
        margin: 15px
        .todo-item-icons
            display: flex
            align-items: center
            i
                cursor: pointer
                &:not(:last-child)
                    margin-right: 15px
                &.fa-check-square
                    font-size: 21px
                    margin-top: 2px
